<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' />
    <style>
        .klasa{
            display:none !important;
        }
    </style>
</head>

<body>
    <%- include('partials/navbar.ejs'); %>
    <input style="display:none" id="brojka" value="<%=Math.ceil(proizvodi.length/broj)%>" />
    <div class='container'>
        <div class='row'>
          <div class='col-md-3'>
            <p class='lead' style='color:#3d1a68e6'>Kategorije</p>
            <div id='accordion'>
                <div class="card">
                    <div class="card-header" id="headingOne"
                        style='color:white !important;background-color: #3d1a68e6;'>
                        <h5 class="mb-0">
                            <button class='btn btn-link' style='color:white' data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Muškarci
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse " aria-labelledby="headingOne"
                        data-parent="#accordion">

                        <div class="card">
                            <div class="card-header" id="headingOneOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse"
                                        data-target="#collapseOneOne" aria-expanded="true"
                                        aria-controls="collapseOneOne">
                                        Mirisi
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOneOne" class="collapse " aria-labelledby="headingOneOne"
                                data-parent="#collapseOne">
                                <li class='list-group-item'><a
                                        href='/products/show/Muskarci/Mirisi/Dezodorans'>Dezodoransi</a>
                                </li>
                                <li class='list-group-item'><a
                                        href='/products/show/Muskarci/Mirisi/Anti-perspirant'>Anti-perspiranti</a>
                                </li>
                                <li class='list-group-item'><a
                                        href='/products/show/Muskarci/Mirisi/Roll-on'>Roll-on</a></li>
                                <li class='list-group-item'><a
                                        href='/products/show/Muskarci/Mirisi/Toaletna voda'>Toaletne
                                        vode</a>
                                </li>
                                <li class='list-group-item'><a
                                        href='/products/show/Muskarci/Mirisi/Parfem'>Parfemi</a>
                                </li>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingOneTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse"
                                        data-target="#collapseOneTwo" aria-expanded="true"
                                        aria-controls="collapseOneTwo">
                                        Nega tela
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOneTwo" class="collapse " aria-labelledby="headingOneTwo"
                                data-parent="#collapseOne">
                                <li class='list-group-item'><a
                                        href='/products/show/Muskarci/Nega tela/Zastita od sunca'>Zastita
                                        od sunca</a></li>
                                <li class='list-group-item'><a
                                        href='/products/show/Muskarci/Nega tela/Tusiranje'>Kupke/gelovi za
                                        tusiranje</a>
                                </li>
                                <li class='list-group-item'><a
                                        href='/products/show/Muskarci/Nega tela/Sapun'>Sapun</a></li>
                                <li class='list-group-item'><a
                                        href='/products/show/Muskarci/Nega tela/Masaza'>Masaza</a>
                                </li>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingOneThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse"
                                        data-target="#collapseOneThree" aria-expanded="true"
                                        aria-controls="collapseOneThree">
                                        Nega kose
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOneThree" class="collapse " aria-labelledby="headingOneThree"
                                data-parent="#collapseOne">
                                <li class='list-group-item'><a
                                        href='/products/show/Muskarci/Nega kose/Sampon'>Šamponi</a></li>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne4">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse"
                                        data-target="#collapseOne4" aria-expanded="true"
                                        aria-controls="collapseOne4">
                                        Nega lica
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne4" class="collapse " aria-labelledby="headingOne4"
                                data-parent="#collapseOne">
                                <li class='list-group-item'><a
                                        href='/products/show/Muskarci/Nega lica/Krema za lice'>Krema za
                                        lice</a></li>
                                <li class='list-group-item'><a
                                        href='/products/show/Muskarci/Nega lica/Brijanje'>Brijanje</a></li>


                            </div>
                        </div>

                    </div>
                </div>
                <!-- ZENE -->
                <div class="card">
                    <div class="card-header" id="headingTwo"
                        style='color:white !important;background-color: #3d1a68e6;'>
                        <h5 class="mb-0">
                            <button class='btn btn-link' style='color:white' data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Žene
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo"
                        data-parent="#accordion">

                        <div class="card">
                            <div class="card-header" id="headingTwoOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse"
                                        data-target="#collapseTwoOne" aria-expanded="true"
                                        aria-controls="collapseTwoOne">
                                        Mirisi
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseTwoOne" class="collapse " aria-labelledby="headingTwoOne"
                                data-parent="#collapseTwo">
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Mirisi/Dezodorans'>Dezodoransi</a></li>
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Mirisi/Anti-perspirant'>Anti-perspiranti</a>
                                </li>
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Mirisi/Roll-on'>Roll-on</a></li>
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Mirisi/Toaletna voda'>Toaletne vode</a>
                                </li>
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Mirisi/Parfem'>Parfemi</a>
                                </li>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwoTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse"
                                        data-target="#collapseTwoTwo" aria-expanded="true"
                                        aria-controls="collapseTwoTwo">
                                        Nega tela
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseTwoTwo" class="collapse " aria-labelledby="headingTwoTwo"
                                data-parent="#collapseTwo">
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Nega tela/Zastita od sunca'>Zastita
                                        od sunca</a></li>
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Nega tela/Tusiranje'>Kupke/gelovi za
                                        tusiranje</a>
                                </li>
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Nega tela/Sapun'>Sapun</a></li>
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Nega tela/Masaza'>Masaža</a>
                                </li>
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Nega tela/Mleko za telo'>Mleko za telo</a>
                                </li>
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Nega tela/Depilacija'>Depilacija</a>
                                </li>
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Nega tela/Brijanje'>Brijanje</a>
                                </li>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwoThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse"
                                        data-target="#collapseTwoThree" aria-expanded="true"
                                        aria-controls="collapseTwoThree">
                                        Nega kose
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseTwoThree" class="collapse " aria-labelledby="headingTwoThree"
                                data-parent="#collapseTwo">
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Nega kose/Sampon'>Šamponi</a></li>
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Nega kose/Farba'>Farbe za kosu</a></li>
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Nega kose/Maska za kosu'>Maske za kosu</a>
                                </li>
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Nega kose/Balzam za kosu'>Balzami za
                                        kosu</a></li>

                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Nega kose/Stilizovanje kose'>Stilizovanje
                                        kose</a></li>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading24">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse"
                                        data-target="#collapse24" aria-expanded="true"
                                        aria-controls="collapse24">
                                        Nega lica
                                    </button>
                                </h5>
                            </div>

                            <div id="collapse24" class="collapse " aria-labelledby="heading24"
                                data-parent="#collapseTwo">
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Nega lica/Nega oko ociju'>Nega oko
                                        ociju</a></li>
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Nega lica/Nega usana'>Nega usana</a></li>
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Nega lica/Maska za lice'>Maske za lice</a>
                                </li>
                                <li class='list-group-item'><a
                                        href='/products/show/Zene/Nega lica/Ciscenje lica'>Čišćenje lica</a>
                                </li>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="heading25">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse"
                                        data-target="#collapse25" aria-expanded="true"
                                        aria-controls="collapse25">
                                        Šminka
                                    </button>
                                </h5>
                            </div>

                            <div id="collapse25" class="collapse " aria-labelledby="heading25"
                                data-parent="#collapseTwo">
                                <li class='list-group-item'><a href='/products/show/Zene/Sminka/Trepavice'>Trepavice</a></li>
                                <li class='list-group-item'><a href='/products/show/Zene/Sminka/Nokti'>Nokti</a></li>
                                <li class='list-group-item'><a href='/products/show/Zene/Sminka/Karmin'>Karmini</a></li>
                                <li class='list-group-item'><a href='/products/show/Zene/Sminka/Puder'>Puderi</a></li>
                                <li class='list-group-item'><a href='/products/show/Zene/Sminka/Tecni puder'>Tecni puderi</a></li>
                                <li class='list-group-item'><a href='/products/show/Zene/Sminka/Rumenilo'>Rumenila</a></li>
                                <li class='list-group-item'><a href='/products/show/Zene/Sminka/Senka'>Senke</a></li>
                                <li class='list-group-item'><a href='/products/show/Zene/Sminka/Ajlajner'>Ajlajneri</a></li>
                                <li class='list-group-item'><a href='/products/show/Zene/Sminka/Korektor'>Korektori</a></li>
                                <li class='list-group-item'><a href='/products/show/Zene/Sminka/Prah'>Prahovi</a></li>
                                <li class='list-group-item'><a href='/products/show/Zene/Sminka/Baza za sminku'>Baza za sminku</a></li>
                                <li class='list-group-item'><a href='/products/show/Zene/Sminka/Bronzer'>Bronzeri</a></li>
                                <li class='list-group-item'><a href='/products/show/Zene/Sminka/Iluminator'>Iluminatori</a></li>
                                <li class='list-group-item'><a href='/products/show/Zene/Sminka/Cetkice'>Cetkice</a></li>
                                <li class='list-group-item'><a href='/products/show/Zene/Sminka/Olovke za oci'>Olovke za oci</a></li>
                                <li class='list-group-item'><a href='/products/show/Zene/Sminka/Sredstvo za skidanje sminke'>Sredstvo za skidanje sminke</a></li>
                                <li class='list-group-item'><a href='/products/show/Zene/Sminka/Oblikovanje obrva'>Oblikovanje obrva</a></li>
                                <li class='list-group-item'><a href='/products/show/Zene/Sminka/Proizvodi za konturisanje'>Proizvodi za konturisanje</a></li>
            
                            </div>
                        </div>
                    </div>
                </div>
                <!-- KRAJ ZENE -->
                <!-- DECA -->
                <div class="card">
                    <div class="card-header" id="headingThree"
                        style='color:white !important;background-color: #3d1a68e6;'>
                        <h5 class="mb-0">
                            <button class='btn btn-link' style='color:white' data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="true"
                                aria-controls="collapseThree">
                                Deca
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse " aria-labelledby="headingThree"
                        data-parent="#accordion">

                        <div class="card">
                            <div class="card-header" id="headingThreeOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse"
                                        data-target="#collapseThreeOne" aria-expanded="true"
                                        aria-controls="collapseThreeOne">
                                        Mirisi
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseThreeOne" class="collapse " aria-labelledby="headingThreeOne"
                                data-parent="#collapseThree">
                                <li class='list-group-item'><a
                                        href='/products/show/Deca/Mirisi/Dezodorans'>Dezodoransi</a></li>
                                <li class='list-group-item'><a
                                        href='/products/show/Deca/Mirisi/Anti-perspirant'>Anti-perspiranti</a>
                                </li>
                                <li class='list-group-item'><a
                                        href='/products/show/Deca/Mirisi/Roll-on'>Roll-on</a></li>
                                <li class='list-group-item'><a
                                        href='/products/show/Deca/Mirisi/Toaletna voda'>Toaletne vode</a>
                                </li>
                                <li class='list-group-item'><a
                                        href='/products/show/Deca/Mirisi/Parfem'>Parfemi</a>
                                </li>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThreeTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse"
                                        data-target="#collapseThreeTwo" aria-expanded="true"
                                        aria-controls="collapseThreeTwo">
                                        Nega tela
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseThreeTwo" class="collapse " aria-labelledby="headingThreeTwo"
                                data-parent="#collapseThree">
                                <li class='list-group-item'><a
                                        href='/products/show/Deca/Nega tela/Zastita od sunca'>Zastita
                                        od sunca</a></li>
                                <li class='list-group-item'><a
                                        href='/products/show/Deca/Nega tela/Tusiranje'>Kupke/gelovi za
                                        tusiranje</a>
                                </li>
                                <li class='list-group-item'><a
                                        href='/products/show/Deca/Nega tela/Sapun'>Sapun</a></li>
                                <li class='list-group-item'><a
                                        href='/products/show/Deca/Nega tela/Masaza'>Masaza</a>
                                </li>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThreeThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse"
                                        data-target="#collapseThreeThree" aria-expanded="true"
                                        aria-controls="collapseThreeThree">
                                        Nega kose
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseThreeThree" class="collapse "
                                aria-labelledby="headingThreeThree" data-parent="#collapseThree">
                                <li class='list-group-item'><a
                                        href='/products/show/Deca/Nega kose/Sampon'>Šamponi</a></li>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree4">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse"
                                        data-target="#collapseThree4" aria-expanded="true"
                                        aria-controls="collapseThree4">
                                        Nega lica
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseThree4" class="collapse " aria-labelledby="headingThree4"
                                data-parent="#collapseThree">
                                <li class='list-group-item'><a
                                        href='/products/show/Deca/Nega lica/Krema za lice'>Krema za
                                        lice</a></li>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- KRAJ DECA -->
            </div>
        </div>

            <div class='col-md-9'>
                <br>
                <h3>Rezultati pretrage za: <%=kljuc%> <br>
                    <% if(proizvodi.length>1){%>Ukupno <%= proizvodi.length%> rezultata pretrage</h3>
                <%}%>
                <% if(proizvodi.length==1){%>Ukupno <%= proizvodi.length%> rezultat pretrage</h3>
                <%}%>
                    <% if(proizvodi.length==0){%>Nema rezultata pretrage</h3>
                <%}%>
                <hr>
                <form method='get' action="/search">
                <input type='hidden' name='key' value='<%=kljuc%>' />
                <select name='prodavnicafilter'>
                    <option value='0' disabled hidden selected > Izbor prodavnice</option>
                    <% for(var i=0;i<prodavnicee.length;i++){%>
                        <option><%=prodavnicee[i].ime%></option>
                    <%}%>
                </select>
                <select name="kategorijafilter">
                    <option value='0' disabled hidden >Filtriranje po kategoriji</option>
                    <option>Muskarci</option>
                    <option>Zene</option>
                    <option>Deca</option>
                  </select>
                  <select name="tipfilter">
                    <option value='0' disabled hidden >Filtriranje po tipu</option>
                    <option >Mirisi</option>
                    <option >Nega tela</option>
                    <option >Nega lica</option>
                    <option >Nega kose</option>
                    <% if(kategorija=='Zene') {%>
                      <option>Sminka</option>
                    <%}%>
                  </select>
                <select name="brojfilter">
                    <option value='0' disabled hidden >Broj proizvoda po strani</option>
                    <option >5</option>
                    <option >10</option>
                    <option >20</option>
                    <option >50</option>
                    <option >100</option>
                    <option value='6'>Prikazi sve</option>
                  </select>
                  <select name="sortfilter">
                    <option value='0'disabled hidden >Sortiranje</option>
                    <option value='1'>Cena(manja-veća)</option>
                    <option value='2'>Cena(veća-manja)</option>
                    <option value='3'>Naziv(A-Z)</option>
                    <option value='4'>Naziv(Z-A)</option>
                    <option value='5'>Datum dodavanja(noviji-stariji)</option>
                    <option value='6'>Datum dodavanja(stariji-noviji)</option>
                  </select>
                  <a  class='iks popup' style='margin-right:0.5%;margin-left: 0.5%;color:#808080' onmouseover="myFunction()" onmouseout="myFunction()" href='/search?key=<%=kljuc%>' style='margin-top:5px;'><svg class="bi bi-x-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                  </svg> <span id='myPopup' class='popuptext'>Ukloni filtere</span></a>
                  <button class="btn btn-info" style='margin-top:5px;'>Filtriranje <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                  </svg></button>
                </form>
                <hr>
                <% for(var i=0;i<Math.floor(proizvodi.length/broj);i++){%>
                <div class='row text-center' id="page<%=i+1%>">
                    <% for(var j=1;j<=broj;j++) {%>
                    <div class='col-lg-3 col-sm-4 col-xs-6'>
                        <h5><%= proizvodi[i*broj+j-1].ime %></h5>
                        <div class="omotac">
                            <img class='img-thumbnail img-fluid' src="<%=proizvodi[i*broj+j-1].url %>"></img>
                        </div>
                        <h6>Cena:</h6>
                        <p class='priceblack'>
                            <% if(proizvodi[i*broj+j-1].akcija==true) {%>
                            <span class='price' style='text-decoration: line-through;'><%=proizvodi[i*broj+j-1].cena%></span>
                            <%=proizvodi[i*broj+j-1].akcijskacena%> din

                            <%}else{%>
                            <%=proizvodi[i*broj+j-1].cena%> din
                            <%}%>
                        </p>
                        <a href='/products/<%=proizvodi[i*broj+j-1]._id%>' class=' btn-small btn-info btn-block'
                            style='margin-top: 5px;'>Vise informacija</a>
                        <form method='post' action="/cart/<%=proizvodi[i*broj+j-1]._id%>/1">
                        <button
                        class=' btn-small btn-success btn-block korpa' name='<%=proizvodi[i*broj+j-1]._id%>'  style='margin-top: 5px;'>Dodaj u korpu</button>
                        </form>     
                       </div>
                    <%}%>
                </div>
                <%}%>
                    <div class='row text-center' id="page<%=Math.floor(proizvodi.length/broj)+1%>">
                        <% for(var j=1;j<=proizvodi.length-Math.floor(proizvodi.length/broj)*broj;j++) {%>
                        <div class='col-lg-3 col-sm-4 col-xs-6'>
                            <h5><%= proizvodi[Math.floor(proizvodi.length/broj)*broj+j-1].ime %></h5>
                            <div class="omotac">
                                <img class='img-thumbnail img-fluid'
                                    src="<%=proizvodi[Math.floor(proizvodi.length/broj)*broj+j-1].url %>"></img>
                            </div>
                            <h6>Cena:</h6>
                            <p class='priceblack'>
                                <% if(proizvodi[Math.floor(proizvodi.length/broj)*broj+j-1].akcija==true) {%>
                                <span class='price' style='text-decoration: line-through;'><%=proizvodi[Math.floor(proizvodi.length/broj)*broj+j-1].cena%></span>
                                <%=proizvodi[Math.floor(proizvodi.length/broj)*broj+j-1].akcijskacena%> din

                                <%}else{%>
                                <%=proizvodi[Math.floor(proizvodi.length/broj)*broj+j-1].cena%> din
                                <%}%>
                            </p>
                            <a href='/products/<%=proizvodi[Math.floor(proizvodi.length/broj)*broj+j-1]._id%>'
                                class=' btn-small btn-info btn-block' style='margin-top: 5px;'>Vise informacija</a>
                                <form method='post' action="/cart/<%=proizvodi[Math.floor(proizvodi.length/broj)*broj+j-1]._id%>/1">
                                    <button
                                    class=' btn-small btn-success btn-block korpa' name='<%=proizvodi[Math.floor(proizvodi.length/broj)*broj+j-1]._id%>'  style='margin-top: 5px;'>Dodaj u korpu</button>
                                    </form>
                        </div>
                        <%}%>
                    </div>
            <br>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" id="previous"  tabindex="-1" href="#" aria-disabled="true">Prethodna strana</a>
                    </li>
                    <% for(var i=0;i<Math.ceil(proizvodi.length/broj);i++){%>
                        <li class="page-item"><a id="link<%=i+1%>" class="page-link" href="#"><%=i+1%></a></li>
                        <%}%>
                <li class="page-item">
                <a class="page-link" id="next" href="#" >Naredna strana</a>
                </li>
                </ul>
           </nav>   
        </div>

    </div>
    </div>
    <!-- vrednosti za prosledjivanje js-u sa servera -->
    <input type='hidden' name='par1' value="<%=kategorija%>" />
    <input type='hidden' name='par2' value="<%=tip%>" />
    <input type='hidden' name='par3' value="<%=broj%>" />
    <input type='hidden' name='par4' value="<%=sort%>" />
    <input type='hidden' name='par5' value="<%=prod%>"/>
    <% if (typeof proizvodi != "undefined") { %>
        <!-- make user available to script tag -->
        <% var proizvodi = proizvodi %>
      
        <!-- use script tag to access ejs data and local storage -->
        <script>
        let proizvodi =  <%- JSON.stringify(proizvodi)%> ;

          var elementi = document.getElementsByClassName("korpa");
          for (let i = 0; i < elementi.length; i++) {
        elementi[i].addEventListener("click", function () {
        if (localStorage.getItem(`${proizvodi[i]._id}`) != null) {
            localStorage.setItem(`broj${proizvodi[i]._id}`, parseInt(localStorage.getItem(`broj${proizvodi[i]._id}`)) + 1);
        }
        else {
            localStorage.setItem(`${proizvodi[i]._id}`, JSON.stringify(proizvodi[i]));
            localStorage.setItem(`broj${proizvodi[i]._id}`, 1);
        }
        })
        }   
        </script>
      <% } %>
    <script src="search.js"></script>
        <%- include ('partials/footer.ejs'); %>